* {
  border: 0;
  padding: 10;
}

.maroontheme {
  background: #861f41;
  position: relative;
  z-index: 9999;
  box-shadow: 0 1px 5px #ababab;
  padding: 28px;
}

.navbar {
  background-color: rgb(255, 255, 255);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  font-size: larger;
  margin-top: 1%;
  z-index: 100;
  box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);
}

.items {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 100%vw;
  color: white;
  display: flex;
  text-align: right;
 
}

#admin {
  margin-right: 1rem;
  text-decoration: none;
}

#eservices {
  margin-right: 0.5rem;
  text-decoration: none;
}

#about {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
}

#contact {
  margin-left: 0.5rem;
  text-decoration: none;
}

#faq {
  margin-left: 0.5rem;
  text-decoration: none;
}

#loginbutton {
  background: #97144d;
  color: #fff;
  font-size: 1.2rem;
  margin-top: 4px;
  margin-left: 15px;
  margin-right: 10px;
  border-radius: 7px;
  padding: 1rem 1.5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin-bottom:5px;
}

#Register {
  background: #97144d;
  color: #fff;
  width:60px;
  font-size: 1.2rem;
  margin-top: 4px;
  margin-left: 15px;
  margin-right: 10px;
  border-radius: 7px;
  padding: 1rem 1.5rem;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  margin-bottom:5px;
}
 .flex-container {
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#services {
  margin-top: 1%;
  color: #000000;
  text-align: center;
  opacity: 80%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
#services:hover{
  color:#da4141;
  font-size:35px;
}
.eservices
{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.serve {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  color: #212121;
  padding-top: 1.7rem;
}

.serveimg {
  display: flex;
  justify-content: space-around;

}

#digital {
  margin-left: 2rem;
  width: 16rem;
  height: 9rem;
}



#credit {
  margin-left: 3rem;
  width: 13.5rem;
  height: 9rem;

}

#loan {
  margin-left: 1rem;
  width: 13.5rem;
  height: 9rem;

}

#fd {
  margin-left: 2rem;
  width: 12rem;
  height: 9rem;

}

.footer-basic {
  margin-top: 30px;
  padding: 40px 0;
  background-color: #464040;
  color: #f6f7f8;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}